<span>
  <!--{{book.authorLast}}, {{book.authorFirst | firstInitial | uppercase}}.-->
  {{ transformAuthor(book.authorFirst, book.authorLast) }}.
  <span class="title">{{book.title}}</span>
  <span *ngIf="book.publisher">({{book.publisher}})</span>
  , <span class="year">{{book.year}}</span>
</span>
